parameters:
	ignoreErrors:
		-
			message: '#^Call to function array_filter\(\) requires parameter \#2 to be passed to avoid loose comparison semantics\.$#'
			identifier: arrayFilter.strict
			count: 1
			path: src/CommandLine/ArgumentsAndOptionsBuilder.php

		-
			message: '#^Call to function array_filter\(\) requires parameter \#2 to be passed to avoid loose comparison semantics\.$#'
			identifier: arrayFilter.strict
			count: 2
			path: src/CommandLineBuilder.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Config/AbstractYamlConfiguration.php

		-
			message: '#^Parameter \#1 \$extensionName of method Infection\\TestFramework\\PhpSpec\\Config\\AbstractYamlConfiguration\:\:isCodeCoverageExtension\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Config/AbstractYamlConfiguration.php

		-
			message: '#^Parameter \#2 \$parsedYaml of class Infection\\TestFramework\\PhpSpec\\Config\\InitialYamlConfiguration constructor expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Config/Builder/InitialConfigBuilder.php

		-
			message: '#^PHPDoc tag @var with type string is not subtype of native type literal\-string&non\-falsy\-string\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Config/Builder/MutationConfigBuilder.php

		-
			message: '#^Parameter \#2 \$parsedYaml of class Infection\\TestFramework\\PhpSpec\\Config\\MutationYamlConfiguration constructor expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Config/Builder/MutationConfigBuilder.php

		-
			message: '#^Parameter \#3 \$parsedYaml of method Infection\\TestFramework\\PhpSpec\\Config\\Builder\\MutationConfigBuilder\:\:createCustomAutoloadWithInterceptor\(\) expects array\<string, mixed\>, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Config/Builder/MutationConfigBuilder.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Config/Builder/MutationConfigBuilder.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 2
			path: src/Config/InitialYamlConfiguration.php

		-
			message: '#^Cannot access offset ''format'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Config/InitialYamlConfiguration.php

		-
			message: '#^Cannot access offset ''output'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Config/InitialYamlConfiguration.php

		-
			message: '#^Cannot access offset mixed on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: src/Config/InitialYamlConfiguration.php

		-
			message: '#^Parameter \#1 \$extensionName of method Infection\\TestFramework\\PhpSpec\\Config\\AbstractYamlConfiguration\:\:isCodeCoverageExtension\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: src/Config/InitialYamlConfiguration.php

		-
			message: '#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Config/MutationYamlConfiguration.php

		-
			message: '#^Parameter \#1 \$extensionName of method Infection\\TestFramework\\PhpSpec\\Config\\AbstractYamlConfiguration\:\:isCodeCoverageExtension\(\) expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Config/MutationYamlConfiguration.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Config/MutationYamlConfiguration.php

		-
			message: '#^Parameter \#7 \$sourceDirectories \(array\<string\>\) of method Infection\\TestFramework\\PhpSpec\\PhpSpecAdapterFactory\:\:create\(\) should be contravariant with parameter \$sourceDirectories \(array\) of method Infection\\AbstractTestFramework\\TestFrameworkAdapterFactory\:\:create\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/PhpSpecAdapterFactory.php

		-
			message: '#^Cannot access offset ''PhpSpecCodeCoverageExtension'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 3
			path: tests/phpunit/Config/InitialYamlConfigurationTest.php

		-
			message: '#^Cannot access offset ''extensions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 4
			path: tests/phpunit/Config/InitialYamlConfigurationTest.php

		-
			message: '#^Cannot access offset ''format'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/phpunit/Config/InitialYamlConfigurationTest.php

		-
			message: '#^Cannot access offset ''output'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/phpunit/Config/InitialYamlConfigurationTest.php

		-
			message: '#^Cannot access offset ''whitelist'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/phpunit/Config/InitialYamlConfigurationTest.php

		-
			message: '#^Cannot access offset ''xml'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/phpunit/Config/InitialYamlConfigurationTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/phpunit/Config/InitialYamlConfigurationTest.php

		-
			message: '#^Cannot access offset ''bootstrap'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/phpunit/Config/MutationYamlConfigurationTest.php

		-
			message: '#^Cannot access offset ''extensions'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: tests/phpunit/Config/MutationYamlConfigurationTest.php

		-
			message: '#^Parameter \#2 \$haystack of method PHPUnit\\Framework\\Assert\:\:assertCount\(\) expects Countable\|iterable, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: tests/phpunit/Config/MutationYamlConfigurationTest.php

		-
			message: '#^Method Infection\\Tests\\TestFramework\\PhpSpec\\VersionParserTest\:\:versionProvider\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/phpunit/VersionParserTest.php
