parameters:
	ignoreErrors:
		-
			message: '#^Call to function array_filter\(\) requires parameter \#2 to be passed to avoid loose comparison semantics\.$#'
			identifier: arrayFilter.strict
			count: 1
			path: src/CommandLine/ArgumentsAndOptionsBuilder.php

		-
			message: '#^Call to function array_filter\(\) requires parameter \#2 to be passed to avoid loose comparison semantics\.$#'
			identifier: arrayFilter.strict
			count: 2
			path: src/CommandLine/CommandLineBuilder.php

		-
			message: '#^PHPDoc tag @var with type string is not subtype of native type literal\-string&non\-falsy\-string\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Config/MutationConfigBuilder.php

		-
			message: '#^Parameter \#7 \$sourceDirectories \(array\<string\>\) of method Infection\\TestFramework\\PhpSpec\\PhpSpecAdapterFactory\:\:create\(\) should be contravariant with parameter \$sourceDirectories \(array\) of method Infection\\AbstractTestFramework\\TestFrameworkAdapterFactory\:\:create\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/PhpSpecAdapterFactory.php

		-
			message: '#^Method Infection\\Tests\\TestFramework\\PhpSpec\\VersionParserTest\:\:versionProvider\(\) return type has no value type specified in iterable type iterable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/phpunit/VersionParserTest.php
