# yamllint disable rule:line-length
# yamllint disable rule:braces

name: Mutation Testing

on:
  pull_request:
  push:
    branches:
      - main
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  mutation-testing:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        operating-system: [ ubuntu-latest ]
        php-version: [ '8.2' ]

    name: Infection PHP ${{ matrix.php-version }}

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          tools: composer:v2

      - name: Install Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Cache the Infection PHAR
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: infection-cache
        with:
          path: var/tools/infection.phar
          key: infection-${{ hashFiles('.tools/infection-version') }}

      - name: Build Infection
        if: steps.infection-cache.outputs.cache-hit != 'true'
        run: make var/tools/infection.phar

      - name: Build Infection
        if: steps.infection-cache.outputs.cache-hit != 'true'
        run: make var/tools/infection.phar

      - name: Run Infection
        run: make infection

  # This is a meta job to avoid to have to constantly change the protection rules
  # whenever we touch the matrix.
  tests-status:
    name: MutationTesting Status
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: mutation-testing
    if: always()
    steps:
      - name: Successful run
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0

      - name: Failing run
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
