# yamllint disable rule:line-length
# yamllint disable rule:braces

name: Tests

on:
  pull_request:
  push:
    branches:
      - main

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  tests:
    permissions:
      contents: read

    runs-on: ubuntu-latest

    env:
      SYMFONY_REQUIRE: ${{ matrix.symfony-require }}

    strategy:
      matrix:
        php-version: [ '8.2', '8.3', '8.4', '8.5' ]
        symfony-require:
          - '6.4.*'
          - '7.4.*'
          - '8.*'
        exclude:
          - php-version: '8.2'
            symfony-require: '8.*'
          - php-version: '8.3'
            symfony-require: '8.*'

    name: Unit tests on PHP ${{ matrix.php-version }} with Symfony ${{ matrix.symfony-require }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          tools: composer, flex

      - name: Install Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Get the PhpSpec PHAR
        uses: ./.github/actions/get-phar
        with:
          tool-name: phpspec
          phar-path: var/tools/phpspec.phar
          version-file: .tools/phpspec-version

      - name: Run tests
        run: make test-unit

  e2e:
    permissions:
      contents: read

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - '8.2'
          - '8.3'
          # TODO: https://github.com/phpspec/phpspec/pull/1503
          #- '8.4'
          # TODO: https://github.com/phpspec/phpspec/pull/1500
          # - '8.5'

    name: End-to-end on PHP ${{ matrix.php-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
          tools: composer

      - name: Install Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Install the e2e scenario Composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1
        with:
          working-directory: tests/e2e/PhpSpec

      - name: Get the Infection PHAR
        uses: ./.github/actions/get-phar
        with:
          tool-name: infection
          phar-path: var/tools/infection.phar
          version-file: .tools/infection-version

      - name: Get the PhpSpec PHAR
        uses: ./.github/actions/get-phar
        with:
          tool-name: phpspec
          phar-path: var/tools/phpspec.phar
          version-file: .tools/phpspec-version

      - name: Run tests
        run: make test-e2e

  # This is a meta job to avoid to have to constantly change the protection rules
  # whenever we touch the matrix.
  tests-status:
    name: Tests Status
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: tests
    if: always()
    steps:
      - name: Successful run
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0

      - name: Failing run
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
